# Token da conta de usuário (Selfbot) para monitorar eventos via WebSocket
TOKEN=seu_user_token_aqui

# Token do Bot Oficial (Discord Developer Portal) para monitorar presença e despachar containers
STATUS_BOT_TOKEN=seu_bot_token_aqui

# ID do usuário do Discord a ser monitorado
TARGET_USER_ID=000000000000000000

# ID do canal de texto onde os logs dos containers serão enviados
LOG_CHANNEL_ID=000000000000000000
